<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-D2wDOZsw8Y8fa4-oA7WSk4RxCEZXwMM</string>
	<key>GCM_SENDER_ID</key>
	<string>882231392840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>basicapp-313b2</string>
	<key>STORAGE_BUCKET</key>
	<string>basicapp-313b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882231392840:ios:536a99a525a6720c6df67d</string>
</dict>
</plist>